@page
@model IndexModel
<h1>Demo aplikacji Web projektu Simulator</h1>
<h3>Prezentacja symulacji opracowana przy użyciu programowania w języku C# oraz technologii Razor Pages.</h3>
<h4>Wykorzystana mapa: BigTorusMap<br/>Rozmiar: <b>8 x 6</b></h4>
<h4>Ruchy: <i>dlrludluddlrulr.</i></h4>
<br /><br />
<img src="img/orc.png" alt="orc">
<img src="img/elf.png" alt="elf">
<form asp-page="/Index" method="post">

</form>